.navbar_ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color:lightgrey;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
li:hover{
		color: #ed1212;
        cursor: pointer;
        
	}
    

.flex-item
    {
        position:absolute;
        left:1.8em;
    }

